.onePet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.onePet h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.onePet h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.onePet button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.onePet button:hover {
    background-color: #3e8e41;
}

.onePet span {
    font-weight: bold;
    margin-right: 5px;
}


.pet-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 252, 252);
    color: rgb(27, 26, 26);
    padding: 15px;
    margin: 10px;
}

.pet-nav button {
    background-color: #c71c1c;
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px 16px;
    margin: 10px;
}

